.pagination {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 20px;
  gap: 6px;

  :global(.page-link) {
    background-color: #fff;
    color: #fe5f1e;
    border: 1px solid #fe5f1e;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
  }

  :global(.page-link:hover) {
    background-color: #fe5f1e;
    color: #fff;
  }

  :global(.active .page-link) {
    background-color: #fe5f1e;
    color: #fff;
    border-color: #fe5f1e;
  }

  :global(.disabled .page-link) {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
